body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.orange-color{
    color: rgb(190, 15, 53);
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    background-color: rgb(177, 50, 109);
    color: white;
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 2px;
    padding: 12px 20px;
    font-size: 25px;
    text-decoration: none;
    font-weight: 700;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 7%;
}
.experience-area{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;
    
}
#wev-dov-exprerience{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#web-dov-experience2{
    border-left:7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}